.btn-styles {
    max-width: 230px !important;
    width:100% !important;
    height: 39px !important;
    border: 1px solid black !important;
    border-radius: 30px !important;
}

.btn-icons {
    width: 12.36px !important;
    height: 12.36px !important;
}

.title-name {
    font-weight: 500 !important;
    font-family:Montserrat !important;
    font-size: 14px !important;

}

.title-time{
    font-family:Montserrat !important;
    font-weight: 400 !important;
    font-size: 11px !important;
    color:#808080 !important;
}

.body-content{
    font-family:Montserrat !important ;
    font-weight: 400 !important;
    font-size: 13px !important;
}

.like-icon{
    width:10.63px !important;
    height:10px !important;
    border:1px !important;
    border-color:#847F3B !important ;
}

.likes-number{
    font-family:Montserrat !important ;
    font-size: 11px !important;
    font-family: 400 !important;
}
.profile{
    width: 40px !important;
    height:40px !important
}