.card {
  width: 399px;
  height: 270px;
  border-radius: 10px;
  border-width: 2px;
  border: 2px solid #ebeaed;
  display: flex;
  align-items: start;
  gap: 10px;
}

.profile {
  width: 56;
  height: 56;
  border-radius: 16px;
}
